/* Come again! */

position: absolute;
width: 132px;
height: 22px;
left: 81px;
top: 199px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;
