/* Email: */

position: absolute;
width: 87px;
height: 23px;
left: 24px;
top: 222px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #000000;
