/* Order your sandwich! */

position: absolute;
width: 211px;
height: 26px;
left: 44px;
top: 138px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;
