/* Order type: */

position: absolute;
width: 158px;
height: 19px;
left: -10px;
top: 77px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;
