/* Order! */

position: absolute;
width: 52px;
height: 15px;
left: 144px;
top: 268px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;
text-align: center;
color: #000000;
