/* Online Sandwich delivery system */

position: absolute;
width: 251px;
height: 21px;
left: 37px;
top: 37px;
font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #000000;
