/* Place your sandwich Order here: */

position: absolute;
width: 206px;
height: 16px;
left: 27px;
top: 73px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #000000;
