/* Chicken */

position: absolute;
width: 67px;
height: 18px;
left: 69px;
top: 147px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
text-align: center;
color: #000000;
