/* Beef */

position: absolute;
width: 47px;
height: 16px;
left: 78px;
top: 182px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
/* identical to box height */
text-align: center;
color: #000000;
