/* Thank you for ordering! */

position: absolute;
width: 192px;
height: 34px;
left: 61px;
top: 147px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;
