/* Wait for your Order! */

position: absolute;
width: 185px;
height: 36px;
left: 62px;
top: 296px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;
